.table-container {
    margin-bottom: 20px;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
}

thead th {
    background-color: #f5f5f5;
    color: #333;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ccc;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

tbody tr:nth-child(even) {
    background-color: #0c1022;
}

@media (max-width: 600px) {
    table {
        font-size: 14px;
    }

    thead th,
    tbody td {
        padding: 8px;
    }
}